body  {
      background-image: linear-gradient( to top, #aab3bd 0%, #0f73e4 100% );
      padding-top: 01rem;
}


label{
    color: rgb(49, 12, 214);
   }

P{
    color: black;
}

h1{
    text-decoration: underline; 
    text-align: center;
}

h1, label, p, li, a {
    font-family: 'Zen Dots', cursive;   
    
}

label:hover{
    background-color: rgb(243, 239, 11);
    color: rgb(236, 14, 69);
    font-weight: bolder;    
}

.contenedor{
    background-color: rgb(243, 239, 11);
    text-align: center;
}